doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        title Выкуп автомобилей
    body
        main.main
            .header-block 
                .logo-block 
                    img(src="./assets/images/content/logo.png", alt="")
                .navigation
                    a(href="#form").navigation-link Безопасность
                    a(href="#form").navigation-link Документы
                    a(href="#form").navigation-link Мы выкупаем
                    a(href="#form").navigation-link Этапы
                    a(href="#form").navigation-link Контакты
                .order-button#sellauto Хочу продать авто
            .main-wrapper
                .builging-block.greeting-block
                .building-block.benefit-block
                .builging-block.sign-block
                .building-block.buyout-block 
                .building-block.compare-block
        footer.footer 
                 
