doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/logo.svg", type="image/x-icon")
        title Выкуп автомобилей
    body
        main.main#toBegin
            .header-block 
                .logo-block 
                    a(href="#toBegin")
                        img(src="./assets/images/content/logo.svg", alt="Logo image: Tachki Logo")
                .navigation
                    a(href="#safety").navigation__link Безопасность
                    a(href="#docs").navigation__link Документы
                    a(href="#buyout").navigation__link Мы выкупаем
                    a(href="#stages").navigation__link Этапы
                    a(href="#contact").navigation__link Контакты
                .order-button#sellauto Хочу продать авто
            .main-wrapper
                .building-block.greeting-block
                    .building-block__container
                        .building-block__header
                            span Выкупим ваш автомобиль 
                            | в день обращения до 
                            span 90% 
                            | от рыночной цены
                        .building-block__subheader Узнайте стомость вашего автомобиля за 3 минуты 
                        .building-block__button Узнать стоимость
                    img(src="./assets/images/content/header3.png", alt="Header Image: Man, car").greeting-block__image
                    
                #safety.building-block.benefit-block
                    .benefit-block__header Безопасно и быстро
                    .benefit-block__container 
                        .benefit-block__unit 
                            .unit-image 
                                img(src="./assets/images/content/clear.svg", alt="")
                            .unit-header Чистота сделки
                            .unit-subheader Гарантируем безопасность и юридическую чистоту сделки            
                        .benefit-block__unit 
                            .unit-image
                                img(src="./assets/images/content/docs.svg", alt="")
                            .unit-header Пакет документов
                            .unit-subheader Оформим бесплатно и привезем на встречу пакет документов для продажи авто
                        .benefit-block__unit 
                            .unit-image 
                                img(src="./assets/images/content/check.svg", alt="")
                            .unit-header Диагностика авто
                            .unit-subheader Проведем независимую и подробную диагностику вашего автомобиля при оценке
                        .benefit-block__unit 
                            .unit-image 
                                img(src="./assets/images/content/money.svg", alt="")
                            .unit-header Деньги при встрече
                            .unit-subheader Переведем деньги наличными / на карту или на расчетный счет в течение 3 часов
                #docs.building-block.sign-block
                    .sign-subblock 
                        .sign-header Запишитесь на встречу
                        .sign-subheader для оценки и продажи автомобиля
                        .sign-button записаться
                    .sign-subblock.sign-subblock--big
                        .sign-header--big Для продажи авто вам необходимо:
                        .sign-container 
                            .sign-unit 
                                .unit-image 
                                    img(src="./assets/images/content/clear.svg", alt="")
                                .unit-header ПТС
                                .unit-subheader Паспорт транспортного средства 
                            .sign-unit 
                                .unit-image 
                                    img(src="./assets/images/content/docs.svg", alt="")
                                .unit-header СТС
                                .unit-subheader Свидетельство о регистрации 
                            .sign-unit 
                                .unit-image 
                                    img(src="./assets/images/content/check.svg", alt="")
                                .unit-header ПСТС
                                .unit-subheader Паспорт собственника транспортного средства  

                .building-block.buyout-block
                    .buyout-header Какие авто мы выкупаем?
                    #buyoutSwiper.swiper.buyout
                        .swiper-wrapper
                            .swiper-slide 
                                .swiper-image 
                                    img(src="./assets/images/content/header.png", alt="")
                                .swiper-header Легковые
                            .swiper-slide 
                                .swiper-image 
                                    img(src="./assets/images/content/header.png", alt="")
                                .swiper-header Коммерческие
                            .swiper-slide 
                                .swiper-image 
                                    img(src="./assets/images/content/header.png", alt="")
                                .swiper-header Битые авто
                            .swiper-slide 
                                .swiper-image 
                                    img(src="./assets/images/content/header.png", alt="")
                                .swiper-header Кредитные
                            .swiper-slide 
                                .swiper-image 
                                    img(src="./assets/images/content/header.png", alt="")
                                .swiper-header Проблемные авто (арест)
                            .swiper-slide  
                                .swiper-image 
                                    img(src="./assets/images/content/header.png", alt="")
                                .swiper-header Дорогие авто (люкс)
                        .swiper-navigation 
                            .swiper-button-next 
                            .swiper-button-prev 
                .building-block.compare-block
        footer.footer 
        script(src="./assets/js/jquery.min.js")
        script(src="./assets/js/plugins.min.js")
        script(src="./assets/js/main.min.js")
                 
