// INDEX PAGE
// TODO: all styles, mobile, crossbrowser
html {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    scroll-behavior: smooth;
    cursor: default;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    width: calc(100vw - 40px);
    overflow-x: hidden;
    height: fit-content;
    position: relative;
    .header-block {
        width: calc(100% - 40px);
        height: 80px;
        display: flex;
        align-items: center;
        background-color: #fff;
        z-index: 1200;
        position: fixed;
        top: 0px;
        left: 20px;
        .logo-block {
            width: 150px;
            height: 70px;
            margin-right: auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .navigation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 60%;
            margin-right: auto;
            &__link {
                text-decoration: none;
                color: $newblack;
                transition: all 0.3s ease;
                font-size: 18px;
                &:hover {
                    color: $darkred;
                    transform: scale(1.1);
                }
            }
        }
        .order-button {
            background-color: $darkred;
            color: #fff;
            height: 50px;
            border-radius: 8px;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 10px 1px rgba($color: $darker, $alpha: 0.8);
            }
        }
    }
    .main-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 80px 80px;
        width: calc(100% - 160px);
        .building-block {
            width: 100%;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .greeting-block {
            background-color: rgba($color: $darkred, $alpha: 0.2);
            margin-bottom: 80px;
            border-radius: 30px;
            height: 600px;
            &__image {
                width: 50%;
                height: 100%;
                object-fit: contain;
            }
        }
        .building-block__container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 40%;
            margin-left: 5%;
        }
        .building-block__header {
            font-weight: 700;
            color: $darker;
            font-size: 40px;
            margin-bottom: 20px;
            span {
                color: $darkred;
            }
        }
        .building-block__subheader {
            font-size: 24px;
            font-weight: 600;
            color: $darker;
            margin-bottom: 40px;
        }
        .building-block__button {
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            background-color: $darkred;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 200px;
            border-radius: 8px;
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 10px 1px rgba($color: $darker, $alpha: 0.8);
            }
        }
        .benefit-block {
            background-color: $violet;
            border-radius: 30px;
            padding: 40px;
            width: calc(100% - 80px);
            height: calc(100% - 80px);
            flex-direction: column;
            align-items: start;
            .benefit-block__header {
                color: #fff;
                font-weight: 700;
                font-size: 36px;
                margin-bottom: 60px;
            }
            .benefit-block__container {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
            }
            .benefit-block__unit {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-between;
                width: 23%;
            }
            .unit-image {
                width: 80px;
                height: 80px;
                background-color: $darkred;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 40px;
                transition: all 0.3s ease;
                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0 0 10px 1px rgba($color: $darker, $alpha: 0.8);
                }
                img {
                    width: 50%;
                    height: 50%;
                    object-fit: contain;
                }
            }
            .unit-header {
                font-size: 22px;
                color: #fff;
                margin-bottom: 40px;
                font-weight: 700;
            }
            .unit-subheader {
                font-size: 12px;
                color: #fff;
                font-weight: 600;
                line-height: 20px;
                color: #a9a9c5;
            }
        }
        .sign-block {
            margin-top: 80px;
            .sign-subblock {
                padding: 60px 40px;
                width: calc(25% - 80px);
                height: calc(100% - 120px);
                background-color: $darkred;
                border-radius: 30px;
                &--big {
                    background-color: rgba($color: $violet, $alpha: 0.2);
                    width: calc(70% - 80px);
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-around;
                    .sign-unit {
                        width: 33%;
                    }
                    .sign-header--big {
                        color: $violet;
                        font-weight: 700;
                        font-size: 36px;
                        margin-bottom: 80px;
                    }
                    .sign-container {
                        display: flex;
                        align-items: start;
                        justify-content: space-between;
                        width: 100%;
                    }
                    .unit-header {
                        color: $violet;
                        font-weight: 700;
                        font-size: 22px;
                        margin-bottom: 40px;
                    }
                    .unit-subheader {
                        font-size: 16px;
                        width: 80%;
                        color: #fff;
                        font-weight: 600;
                        line-height: 20px;
                        color: $violet;
                    }
                }
                .sign-header {
                    color: #fff;
                    font-weight: 700;
                    font-size: 36px;
                    margin-bottom: 20px;
                }
                .sign-subheader {
                    font-size: 16px;
                    font-weight: 600;
                    color: #fff;
                    display: block;
                }
                .sign-button {
                    margin-top: calc(100% - 60px);
                    width: 100%;
                    height: 60px;
                    font-size: 16px;
                    color: $darkred;
                    background-color: #fff;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 0 10px 1px rgba($color: $darker, $alpha: 0.8);
                    }
                }
            }
            .unit-image {
                width: 80px;
                height: 80px;
                background-color: $darkred;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 40px;
                transition: all 0.2s ease;
                &:hover {
                    transform: scale(1.1);
                    background-color: $violet;
                }
                img {
                    width: 50%;
                    height: 50%;
                    object-fit: contain;
                }
            }
        }
        .buyout-block {
            background-color: $violet;
            border-radius: 30px;
            padding: 40px;
            width: calc(100% - 80px);
            height: calc(400px);
            flex-direction: column;
            align-items: start;
            margin-top: 80px;
            overflow: hidden;
            .buyout-header {
                color: #fff;
                font-size: 36px;
                font-weight: 700;
            }
            .swiper {
                width: 100%;
                align-self: center;
                height: 300px;
                position: relative;
            }
            .swiper-slide {
                background-color: #fff;
                border-radius: 22px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: start;
            }
            .swiper-image {
                align-self: center;
                width: 80%;
                height: 60%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .swiper-header {
                margin: 20px 40px;
                width: calc(100% - 80px);
                font-size: 20px;
                color: $violet;
                font-weight: 700;
                white-space: nowrap;
            }
            .swiper-button-next,
            .swiper-button-prev {
                background-image: none;
                border-top: 3px solid $darkred;
                border-right: 3px solid $darkred;
                height: 27px;
            }
            .swiper-button-next {
                right: -30px;
                transform: rotate(45deg);
            }
            .swiper-button-prev {
                left: -30px;
                transform: rotate(-135deg);
            }
        }
        .compare-block {
            margin-top: 80px;
            width: calc(100% - 80px);
            height: calc(100% - 80px);
            padding: 40px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .compare-container {
                width: 35%;
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 100;
                &--small {
                    width: 30%;
                    filter: grayscale(1);
                    z-index: 99;
                    transition: all 0.5s ease;
                    &:hover {
                        filter: grayscale(0);
                        transform: none !important;
                    }
                    .list-header {
                        font-size: 12px !important;
                        line-height: 14px !important;
                    }
                    .container-header {
                        border: 5px solid $violet !important;
                        border-bottom: none !important;
                        color: $violet !important;
                    }
                    .container-list {
                        border: 5px solid $violet !important;
                    }
                }
                transition: all 0.5s ease;
                &:hover {
                    transform: scale(1.2);
                }
                .container-header {
                    font-size: 24px;
                    color: $darkred;
                    font-weight: 700;
                    border: 5px solid $darkred;
                    background-color: #fff;
                    text-align: center;
                    height: 80px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: none;
                }
                .container-list {
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: calc(100% - 40px);
                    border: 5px solid $darkred;
                    padding: 20px;
                    .list-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        margin-bottom: 20px;
                        .list-mark {
                            width: 15%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img {
                                width: 40%;
                                height: 40%;
                                object-fit: contain;
                            }
                            .cross-sign {
                                width: 30%;
                                height: 30%;
                                object-position: center;
                            }
                        }
                        .list-header {
                            width: 80%;
                            height: 100%;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
}